# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.jenkins-external
build/*
config/.zsh*
config/checkhosts.sh
config/.bashrc
config/.profile
config/.zcompdump config/.zcompdump-1f77172bd885-5.8.1 config/.zcompdump-1f77172bd885-5.8.1.zwc config/.zcompdump-6cd2c3d92416-5.8.1 config/.zcompdump-6cd2c3d92416-5.8.1.zwc
config/.viminfo
config/.oh-my-zsh
